{% extends 'templates/app.twig' %}

{% block title %}Edit Question{% endblock %}

{% block content %}

    <div class="row">
        <div class="page-header">
            <h2>Edit Question</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ path_for('question.edit', {id: question.id}) }}" method="post" class="form">
                <div class="form-group {{ validationErrors.subject ? 'has-error' : '' }}">
                    <label for="subject">Name</label>
                    <input type="text" id="subject" name="subject" class="form-control" value="{{ oldData.subject ? oldData.subject : question.subject }}">
                    {% if validationErrors.subject %}
                        <span class="help-block">{{ validationErrors.subject | first }}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ validationErrors.question ? 'has-error' : '' }}">
                    <label for="question">Question</label>
                    <textarea id="question" name="question" class="form-control"
                              rows="8">{{  oldData.question ? oldData.question : question.text }}</textarea>
                    {% if validationErrors.question %}
                        <span class="help-block">{{ validationErrors.question | first }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-default pull-right">Update</button>
                <a href="{{ path_for('question.list') }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}