{% extends 'templates/app.twig' %}

{% block title %}Question Details{% endblock %}

{% block content %}

    <div class="row">
        <div class="page-header">
            <h1>Questions Details</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div>Author: {{ question.user.name }}</div>
                    <div>Subject: <strong>{{ question.subject }}</strong></div>
                </div>
                <div class="panel-body">{{ question.text }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% for response in question.responses %}
                <div class="panel panel-{{ auth.user.id == response.user.id ? 'info' : 'warning' }}">
                    <div class="panel-heading">
                        <div>Author: {{ response.user.name }}</div>
                    </div>
                    <div class="panel-body">{{ response.text }}</div>

                    {% if response.id == lastResponse.id %}
                        <div class="panel-footer">
                            <a href="{{ path_for('response.edit', {id: response.id}) }}"
                               class="btn btn-warning">Edit</a>
                            <a href="{{ path_for('response.delete', {id: response.id}) }}"
                               class="btn btn-danger">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ path_for('response.create', {id: question.id}) }}" method="post" class="form">
                <div class="form-group {{ validationErrors.response ? 'has-error' : '' }}">
                    <label for="response">Response</label>
                    <textarea id="response" name="response" class="form-control"
                              rows="8">{{ oldData.response }}</textarea>
                    {% if validationErrors.response %}
                        <span class="help-block">{{ validationErrors.response | first }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-default pull-right">Reply</button>
                <a href="{{ path_for('question.list') }}" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>

{% endblock %}