{% extends 'templates/app.twig' %}

{% block title %}Question Details{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h2>Questions Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path_for('question.list') }}" class="btn btn-primary">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>Author: {{ question.user.name }}</div>
                    <div>Subject: <strong>{{ question.subject }}</strong></div>
                </div>
                <div class="panel-body">{{ question.text }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% for response in question.responses %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>Author: {{ response.user.name }}</div>
                    </div>
                    <div class="panel-body">{{ response.text }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ path_for('response.create', {id: question.id}) }}" method="post" class="form">
                <div class="form-group {{ validationErrors.response ? 'has-error' : '' }}">
                    <label for="response">Response</label>
                    <textarea id="response" name="response" class="form-control"
                              rows="8">{{ oldData.response }}</textarea>
                    {% if validationErrors.response %}
                        <span class="help-block">{{ validationErrors.response | first }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-default">Reply</button>
            </form>
        </div>
    </div>

{% endblock %}