{% extends 'templates/app.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}

    <div class="row">
        <div class="page-header">
            <h1>Edit User</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ path_for('user-management.edit', {id: user.id}) }}" method="post" class="form">
                <div class="form-group {{ validationErrors.role ? 'has-error' : '' }}">
                    <label for="role">Role</label>
                    <select name="role" id="role" class="form-control">
                        {% set selected = oldData.role ? oldData.role : user.role.id %}
                        {% for role in roles %}
                            <option value="{{ role.id }}" {% if role.id == selected %}selected{% endif %}>
                                {{ role.name | capitalize }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if validationErrors.role %}
                        <span class="help-block">{{ validationErrors.role | first }}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ validationErrors.name ? 'has-error' : '' }}">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control"
                           value="{{ oldData.name ? oldData.name : user.name }}">
                    {% if validationErrors.name %}
                        <span class="help-block">{{ validationErrors.name | first }}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ validationErrors.email ? 'has-error' : '' }}">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control"
                           value="{{ oldData.email ? oldData.email : user.email }}">
                    {% if validationErrors.email %}
                        <span class="help-block">{{ validationErrors.email | first }}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ validationErrors.password ? 'has-error' : '' }}">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control">
                    {% if validationErrors.password %}
                        <span class="help-block">{{ validationErrors.password | first }}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ validationErrors.confirm_password ? 'has-error' : '' }}">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm_password" class="form-control">
                    {% if validationErrors.confirm_password %}
                        <span class="help-block">{{ validationErrors.confirm_password | first }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-default pull-right">Update</button>
                <a href="{{ path_for('user-management.show') }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}