{% extends 'templates/app.twig' %}

{% block title %}Edit Response{% endblock %}

{% block content %}

    <div class="row">
        <div class="page-header">
            <h2>Edit Response</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ path_for('response.edit', {id: questionResponse.id}) }}" method="post" class="form">
                <div class="form-group {{ validationErrors.response ? 'has-error' : '' }}">
                    <label for="response">Response</label>
                    <textarea id="response" name="response" class="form-control"
                              rows="8">{{ oldData.response ? oldData.response : questionResponse.text }}</textarea>
                    {% if validationErrors.response %}
                        <span class="help-block">{{ validationErrors.response | first }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-default pull-right">Update</button>
                <a href="{{ path_for('question.show', {id: questionResponse.question.id}) }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}