{% extends 'templates/app.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ user.name }} <small>{{ user.email }}</small></h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="thumbnail">
                <img src="{{ user.image ? '/uploads/' ~ user.image : '/images/profile.png' }}" alt="Profile image" class="img-rounded">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <a href="{{ path_for('user.edit', {id: user.id}) }}" class="btn btn-default">Edit</a>
            <a href="#" class="btn btn-danger pull-right">Remove Image</a>
        </div>
    </div>

{% endblock %}